@font-face {
    font-family: "bubble";
    src:url("bubble.ttf");
}
@font-face {
    font-family: "fuzzy";
    src:url("fuzzy.ttf");
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    background-color: #f0dfc5;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.container {
    width: calc(100vw - 2em);
    height: calc(100vh - 2em);
    border: #583b39 solid 5px;
    overflow: scroll;
    scrollbar-width: none;
}

h1 {
    font-family: bubble;
    text-align: center;
    font-size: 6rem;
    color: #583b39;
}

sect {
    display: flex;
    align-items: center;

    img {
        width: 15rem;
    }

    div {
        padding: 2rem;
        font-family: "fuzzy";
        color: #583b39;
        font-weight: bold;
        h2 {
            font-family: bubble;
        }
        
    }
}
sect:nth-child(odd) {
    flex-direction: row-reverse;
}
@media all and (max-width:768px) {
    sect {
        flex-direction: column-reverse;
        text-align: center;
    }
    sect:nth-child(odd) {
        text-align: center;
        flex-direction: column-reverse;
    }
}

.fact {
    border: #583b39 solid 5px;
    border-radius: 1rem;
    margin: 1rem;
    display: block;
    text-align: center;
    h2 {
        font-family: bubble;
        color: #583b39;
        margin: 1rem;
    }
    button {
        background-color: #583b39;
        border: #583b39 solid 5px;
        font-family: bubble;
        padding: 1rem;
        font-size: 1rem;
        border-radius: 1rem;
        margin: 1rem;
        color: #f0dfc5;
        cursor: pointer;
    }
    @media (hover: hover), (-ms-high-contrast:none) {
    button:hover {
        color: #583b39;
        background-color: #f0dfc5;
        transition: .2s;
    }
    }
    p {
        padding: 1rem;
        font-family: "fuzzy";
        color: #583b39;
        font-weight: bold;
    }
}